<div class="container">
<p id="notice"><%= notice %></p>
	<div class="page-header">
		<h3>Editing Phone</h3>
	</div>	
		<%= render 'form' %>

		<%= link_to 'Show', @phone,class: 'btn btn-info' %> 
		<%= link_to 'Back', phones_path,class: 'btn btn-info' %>
</div>