<div class="container">
	<p id="notice"><%= notice %></p>
	<div class="page-header">
		<h3>New Phone</h3>
	</div>
		<%= render 'form' %>

		<%= link_to 'Back', phones_path,class: 'btn btn-info' %>
</div>