<div class="container">
<p id="notice"><%= notice %></p>
<div class="page-header">
		<h3>Editing Cuisine</h3>
</div>
		<%= render 'form' %>

		<%= link_to 'Show', @cuisine,class:'btn btn-info' %> 
		<%= link_to 'Back', cuisines_path,class:'btn  btn-info' %>
</div>