<div class="container">
	<div class="page-header">
<font color="red">
<p id="notice"><%= notice %></p></font>
  <font color="#110077">
	<h2>Editing Restaurant</h2></font>
</div>
	<%= render 'form' %>

	<%= link_to 'Show', @restaurant,class: 'btn btn-info' %> 
	<%= link_to 'Back', restaurant_path,class: 'btn btn-info' %>
</div>