<div class="container">
<div class="page-header">
<font color="red">
<p id="notice"><%= notice %></p></font>
  <font color="#110077">
		<h2>New Restaurant</h2></font>
</div>
		<%= render 'form' %>

		<%= link_to 'Back', restaurants_path,class: 'btn btn-info' %>

</div>