<div class="container">
<p id="notice"><%= notice %></p>
	<div class="page-header">
		<h3>Editing City</h3>
	</div>
		<%= render 'form' %>

		<%= link_to 'Show', @city,class:'btn btn-info' %> 
		<%= link_to 'Back', cities_path,class:'btn btn-info' %>
</div>