<div class="container">
  <p id="notice"><%= notice %></p>
    <div class="page-header">
		<h3>Editing Location</h3>
	</div>
		<%= render 'form' %>

		<%= link_to 'Show', @location,class:'btn btn-info' %> 
		<%= link_to 'Back', locations_path,class:'btn btn-info' %>
</div>