<div class="container">
<p id="notice"><%= notice %></p>
<div class="page-header">
		<h3>New Location</h3>
</div>
		<%= render 'form' %>

		<%= link_to 'Back', locations_path,class:'btn btn-info' %>
</div>